*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

.container-fluid .navbar {
	position: fixed;
	z-index: 3;
	font-size: 14px;
	width: 100%;
	justify-content: center; }
	.container-fluid .navbar .desplegable {
	  display: none; }
	.container-fluid .navbar .col-12 {
	  display: flex;
	  /* justify-content: end; */
	  width: 87%; }
	  .container-fluid .navbar .col-12 .collapse .navbar-nav .dropdown:hover .dropdown-menu {
		display: flex;
		flex-direction: column;
		position: fixed;
		background-color: whitesmoke;
		list-style-type: none;
		padding: 10px 10px 10px 10px; }
  
  .container-fluid .sub {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	color: whitesmoke; }
	.container-fluid .sub:after {
	  content: "";
	  position: absolute;
	  bottom: 0;
	  left: -100%;
	  width: 80%;
	  height: 1.5px;
	  background: whitesmoke;
	  transition: left .1s; }
	.container-fluid .sub:hover:after {
	  left: 9%;
	  grid-template-columns: 1fr; }
  
  .container-fluid .containerCart {
	display: grid;
	grid-template-columns: 1fr; }
