.mainInicio{
	display: grid;
	padding-top: 90px;
	grid-template-areas: 	"h1 h1 h1"
							"remera1 remera2 remera3"
							"slider slider slider";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
}

.contenedorProducto{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-area: remera1;
}

.contenedorProducto2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-area: remera2;
}

.contenedorProducto3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-area: remera3;
}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
	grid-area: slider;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

.productoInicio{
	border: solid black 1px;
	margin: 10px;
}

.productoInicio h5{
	margin: 7px 15px;
}

.productoInicio p{
	margin: 7px 15px;
}

.productoInicio button{
	margin: 7px 15px;
}
